common/src/main/java/org/endeavourhealth/informationmanager/common/models/document/InformationModelDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by David Stables (Private) -->
<!-- W3C Schema generated by XMLSpy v2018 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="ModelDocument" type="ModelDocument"/>
	<xs:complexType name="Prefix"/>
	<xs:complexType name="Cohort">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="authoredDate" type="xs:string" minOccurs="0"/>
			<xs:element name="authoredBy" type="xs:string" minOccurs="0"/>
			<xs:element name="baseCohort" type="xs:string" minOccurs="0"/>
			<xs:element name="dataSubject" type="xs:string" minOccurs="0"/>
			<xs:element name="retainedProperty" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="criterion" type="Criterion" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StateDefinition">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="authoredDate" type="xs:string" minOccurs="0"/>
			<xs:element name="authoredBy" type="xs:string" minOccurs="0"/>
			<xs:element name="dataSubject" type="xs:string" minOccurs="0"/>
			<xs:element name="retainedProperty" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="criterion" type="Criterion" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Restriction">
		<xs:sequence>
			<xs:choice>
				<xs:element name="definedProperty" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="property" type="xs:string"/>
			</xs:choice>
			<xs:element name="order">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Earliest"/>
						<xs:enumeration value="Latest"/>
						<xs:enumeration value="Maximum"/>
						<xs:enumeration value="Minimum"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="count">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="assignedProperty" type="xs:string" minOccurs="0"/>
			<xs:element name="assignedBooleanProperty" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Criterion">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="operator" type="Operator" minOccurs="0"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="class" type="xs:string" minOccurs="0"/>
					<xs:element name="filter" type="Filter" minOccurs="0"/>
					<xs:element name="restriction" type="Restriction" minOccurs="0"/>
					<xs:element name="test" type="Test" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="criterion" type="Criterion" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Range">
		<xs:sequence>
			<xs:element name="from" type="ValueComparison"/>
			<xs:element name="to" type="ValueComparison"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValueComparison">
		<xs:sequence>
			<xs:element name="operator" type="xs:string" minOccurs="0"/>
			<xs:choice>
				<xs:element name="value" type="xs:anySimpleType"/>
				<xs:element name="valueFunction" type="Function"/>
				<xs:element name="variable" type="xs:string"/>
				<xs:element name="definedVariable" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValueSet">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="expression" type="ExpressionConstraint" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyDomain">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="property" type="xs:string"/>
			<xs:element name="domain" type="Domain" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyRange">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="property" type="xs:string"/>
			<xs:element name="rangeClass" type="SimpleExpressionConstraint" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataPropertyRange">
		<xs:sequence>
			<xs:element name="property" type="xs:string"/>
			<xs:element name="dataType" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Concept">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="short" type="xs:string" minOccurs="0"/>
			<xs:element name="codeScheme" type="xs:string" minOccurs="0"/>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModelDocument">
		<xs:sequence>
			<xs:element name="DocumentInfo" type="DocumentInfo" minOccurs="0"/>
			<xs:element name="Concept" type="Concept" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ConceptDefinition" type="ConceptDefinition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Synonym" type="Synonym" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PropertyDomain" type="PropertyDomain" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PropertyRange" type="PropertyRange" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StateDefinition" type="StateDefinition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Cohort" type="Cohort" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ValueSet" type="ValueSet" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DataSet" type="DataSet" minOccurs="0"/>
			<xs:element name="DataTypeDefinition" type="DataTypeDefinition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataTypeDefinition">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="dataType" type="xs:string"/>
			<xs:element name="restriction" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Version">
		<xs:sequence>
			<xs:element name="releaseStatus" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeExpression">
		<xs:sequence>
			<xs:element name="operator" type="Operator" minOccurs="0"/>
			<xs:element name="property" type="xs:string"/>
			<xs:element name="exOrUni" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="some"/>
						<xs:enumeration value="only"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="valueConcept" type="xs:string"/>
				<xs:element name="value" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domain">
		<xs:sequence>
			<xs:element name="minCardinality" type="xs:int" minOccurs="0"/>
			<xs:element name="maxCardinality" type="xs:int" minOccurs="0"/>
			<xs:element name="class" type="xs:string"/>
			<xs:element name="maxInGroup" type="xs:int" minOccurs="0"/>
			<xs:element name="queryCharacteristic" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="range" type="SimpleExpressionConstraint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeConstraint">
		<xs:sequence>
			<xs:choice>
				<xs:element name="property" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="propertyOrSubtypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="value" type="ExpressionConstraint"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptDefinition">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="definitionOf" type="xs:string"/>
			<xs:choice>
				<xs:element name="subtypeOf" type="ConceptExpression" maxOccurs="unbounded"/>
				<xs:element name="equivalentTo" type="ConceptExpression" maxOccurs="unbounded"/>
				<xs:element name="termCodeOf" type="ConceptExpression"/>
				<xs:element name="inversePropertyOf" type="xs:string"/>
			</xs:choice>
			<xs:element name="mappedTo" type="ConceptExpression" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="replacedBy" type="ConceptExpression" minOccurs="0"/>
			<xs:element name="childOf" type="ConceptExpression" minOccurs="0"/>
			<xs:element name="roleGroup" type="RoleGroup" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="disjointWith" type="ConceptExpression" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptExpression">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="operator" type="Operator" minOccurs="0"/>
			<xs:choice>
				<xs:element name="concept" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExpressionConstraint">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="operator" type="Operator" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="class" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="classOrSubtypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="subtypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="valueSet" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="attribute" type="AttributeConstraint" maxOccurs="unbounded"/>
				<xs:element name="roleGroup" type="RoleGroupConstraint" maxOccurs="unbounded"/>
				<xs:element name="expression" type="ExpressionConstraint" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleExpressionConstraint">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="operator" type="Operator" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="class" type="xs:string"/>
				<xs:element name="classOrSubtypes" type="xs:string"/>
				<xs:element name="subtypes" type="xs:string"/>
				<xs:element name="valueSet" type="xs:string"/>
				<xs:element name="dataType" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleGroup">
		<xs:sequence>
			<xs:element name="attribute" type="AttributeExpression" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexAttribute">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="operator" type="Operator" minOccurs="0"/>
			<xs:choice>
				<xs:sequence>
					<xs:choice>
						<xs:element name="property" type="xs:string"/>
						<xs:element name="function" type="Function"/>
						<xs:element name="definedFunction" type="xs:string"/>
					</xs:choice>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="valueExpression" type="ExpressionConstraint"/>
							<xs:element name="value" type="ValueComparison"/>
							<xs:element name="valueRange" type="Range"/>
							<xs:element name="valueSet" type="xs:string"/>
							<xs:element name="valueCode" type="xs:string"/>
							<xs:element name="valueBoolean" type="xs:boolean"/>
							<xs:element name="hasValue" type="xs:boolean"/>
						</xs:choice>
						<xs:element name="includeNull" type="xs:boolean" minOccurs="0"/>
						<xs:element name="assignedProperty" type="xs:string" minOccurs="0"/>
						<xs:element name="assignedBooleanProperty" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:sequence>
				<xs:element name="attribute" type="ComplexAttribute" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentInfo">
		<xs:sequence>
			<xs:element name="documentId" type="xs:string"/>
			<xs:element name="documentIri" type="xs:anyURI"/>
			<xs:element name="documentTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="modelIri" type="xs:anyURI"/>
			<xs:element name="effectiveDate" type="xs:string"/>
			<xs:element name="publisher" type="xs:string"/>
			<xs:element name="purpose" type="xs:string"/>
			<xs:element name="baseModelVersion" type="xs:string"/>
			<xs:element name="targetVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="documentStatus" type="xs:string"/>
			<xs:element name="prefix" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="Prefix">
							<xs:sequence>
								<xs:element name="label" type="xs:string"/>
								<xs:element name="iri" type="xs:string"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Function">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:choice>
				<xs:element name="baseFunction" type="xs:string"/>
				<xs:element name="functionURI" type="xs:string"/>
			</xs:choice>
			<xs:element name="parameter" type="Parameter" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Parameter">
		<xs:sequence>
			<xs:choice>
				<xs:element name="property" type="xs:string"/>
				<xs:element name="definedProperty" type="xs:string"/>
				<xs:element name="parameterToken" type="xs:string"/>
				<xs:element name="variable" type="xs:string"/>
				<xs:element name="valueDateTime"/>
				<xs:element name="valueNumeric" type="xs:float"/>
				<xs:element name="function" type="Function"/>
			</xs:choice>
			<xs:element name="parameterName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSet">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="authoredDate" type="xs:string" minOccurs="0"/>
			<xs:element name="authoredBy" type="xs:string" minOccurs="0"/>
			<xs:element name="dataSubject" type="xs:string" minOccurs="0"/>
			<xs:element name="referenceCriterion" type="Criterion" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="itemCategory" type="DataItemCategory" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataItemCategory">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="itemGroup" type="DataItemGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataItemGroup">
		<xs:sequence>
			<xs:element name="class" type="xs:string"/>
			<xs:element name="item" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string" minOccurs="0"/>
						<xs:choice>
							<xs:element name="property" type="xs:string"/>
							<xs:element name="inferredProperty" type="xs:string"/>
							<xs:element name="functionProperty" type="xs:string"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="criterion" type="Criterion" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AND"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="NOT"/>
			<xs:enumeration value="ANDNOT"/>
			<xs:enumeration value="ORNOT"/>
			<xs:enumeration value="XOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RoleGroupConstraint">
		<xs:sequence>
			<xs:element name="attribute" type="AttributeConstraint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Filter">
		<xs:sequence>
			<xs:element name="attribute" type="ComplexAttribute" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Test">
		<xs:sequence>
			<xs:element name="attribute" type="ComplexAttribute" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Synonym">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="concept" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
