datafiles/schema/IMDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by David Stables (Private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 <xs:complexType name="Ontology">
  <xs:sequence>
   <xs:element name="iri" type="xs:string"/>
   <xs:element name="EntailmentType" minOccurs="0">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="Asserted"/>
      <xs:enumeration value="Inferred"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
   <xs:choice maxOccurs="unbounded">
    <xs:element name="Namespace" type="Namespace" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="DocumentInfo" type="DocumentInfo" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="Import" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="Class" type="Class" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="ObjectProperty" type="ObjectProperty" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="DataProperty" type="DataProperty" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="DataType" type="DataType" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="AnnotationProperty" type="AnnotationProperty" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="Individual" type="Individual" minOccurs="0" maxOccurs="unbounded"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:element name="Ontology" type="Ontology"/>
 <xs:complexType name="IMAnnotated">
  <xs:sequence>
   <xs:group ref="IMAnnotated"/>
  </xs:sequence>
 </xs:complexType>
 <xs:group name="IMAnnotated">
  <xs:sequence>
   <xs:element name="id" type="xs:string" minOccurs="0"/>
   <xs:element name="status" type="xs:string" minOccurs="0"/>
   <xs:element name="version" type="xs:string" minOccurs="0"/>
   <xs:element name="annotations" type="Annotation" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:group>
 <xs:complexType name="IMEntity">
  <xs:sequence>
   <xs:group ref="IMEntity"/>
  </xs:sequence>
 </xs:complexType>
 <xs:group name="IMEntity">
  <xs:sequence>
   <xs:element name="id" type="xs:string" minOccurs="0"/>
   <xs:element name="status" type="xs:string" minOccurs="0"/>
   <xs:element name="version" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:group>
 <xs:complexType name="Concept">
  <xs:complexContent>
   <xs:extension base="IMEntity">
    <xs:sequence>
     <xs:element name="iri" type="xs:string" minOccurs="0"/>
     <xs:element name="name" type="xs:string" minOccurs="0"/>
     <xs:element name="description" type="xs:string" minOccurs="0"/>
     <xs:element name="code" type="xs:string" minOccurs="0"/>
     <xs:element name="scheme" minOccurs="0"/>
     <xs:element name="shortName" type="xs:string" minOccurs="0"/>
     <xs:element name="order" type="xs:int" minOccurs="0"/>
     <xs:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded"/>
     <xs:element name="IsA" type="Concept" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="Class">
  <xs:complexContent>
   <xs:extension base="Concept">
    <xs:sequence>
     <xs:group ref="ClassExpression" minOccurs="0"/>
     <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SubClassOf" type="ClassAxiom" maxOccurs="unbounded"/>
      <xs:element name="EquivalentTo" type="ClassAxiom" maxOccurs="unbounded"/>
      <xs:element name="DisjointWithClass" type="xs:string" maxOccurs="unbounded"/>
     </xs:choice>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="Individual">
  <xs:complexContent>
   <xs:extension base="Concept">
    <xs:sequence>
     <xs:element name="IsType" type="xs:string" minOccurs="0"/>
     <xs:element name="PropertyDataValue" type="DataPropertyValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="ObjectProperty">
  <xs:complexContent>
   <xs:extension base="Concept">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
     <xs:element name="SubObjectPropertyOf" type="PropertyAxiom" maxOccurs="unbounded"/>
     <xs:element name="InversePropertyOf" type="PropertyAxiom"/>
     <xs:element name="ObjectPropertyRange" type="ClassAxiom" maxOccurs="unbounded"/>
     <xs:element name="PropertyDomain" type="ClassAxiom" maxOccurs="unbounded"/>
     <xs:element name="SubPropertyChain" type="SubPropertyChain" minOccurs="0" maxOccurs="unbounded"/>
     <xs:element name="IsTransitive" type="IMEntity"/>
     <xs:element name="IsReflexive" type="IMEntity"/>
     <xs:element name="IsSymmetric" type="IMEntity"/>
     <xs:element name="IsFunctional" type="IMEntity"/>
    </xs:choice>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="DataProperty">
  <xs:complexContent>
   <xs:extension base="Concept">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
     <xs:element name="SubDataPropertyOf" type="PropertyAxiom" maxOccurs="unbounded"/>
     <xs:element name="DataPropertyRange" type="PropertyRangeAxiom" maxOccurs="unbounded"/>
     <xs:element name="PropertyDomain" type="ClassAxiom" maxOccurs="unbounded"/>
     <xs:element name="IsFunctional" type="IMEntity"/>
    </xs:choice>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="DataType">
  <xs:complexContent>
   <xs:extension base="Concept">
    <xs:sequence>
     <xs:element name="DataTypeDefinition" type="DataTypeDefinition" minOccurs="0"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="DataTypeDefinition">
  <xs:sequence>
   <xs:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded"/>
   <xs:group ref="DataRange"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataTypeRestriction">
  <xs:sequence>
   <xs:element name="DataType" type="xs:string"/>
   <xs:sequence maxOccurs="unbounded">
    <xs:element name="FacetRestriction" type="FacetRestriction"/>
   </xs:sequence>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="AnnotationProperty">
  <xs:complexContent>
   <xs:extension base="Concept">
    <xs:sequence>
     <xs:element name="SubAnnotationPropertyOf" type="PropertyAxiom" minOccurs="0" maxOccurs="unbounded"/>
     <xs:element name="PropertyRange" type="AnnotationPropertyRange" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="ClassAxiom">
  <xs:complexContent>
   <xs:extension base="IMAnnotated">
    <xs:sequence>
     <xs:group ref="ClassExpression"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="PropertyRangeAxiom">
  <xs:complexContent>
   <xs:extension base="IMAnnotated">
    <xs:sequence>
     <xs:group ref="DataRange"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="PropertyAxiom">
  <xs:complexContent>
   <xs:extension base="IMAnnotated">
    <xs:sequence>
     <xs:element name="Property" type="xs:string"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="AnnotationPropertyRange">
  <xs:complexContent>
   <xs:extension base="IMEntity">
    <xs:sequence>
     <xs:element name="Iri" type="xs:string"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="ClassExpression">
  <xs:sequence>
   <xs:group ref="ClassExpression"/>
  </xs:sequence>
 </xs:complexType>
 <xs:group name="ClassExpression">
  <xs:sequence>
   <xs:choice>
    <xs:element name="Class" type="xs:string"/>
    <xs:element name="Intersection" type="ClassExpression" maxOccurs="unbounded"/>
    <xs:element name="Union" type="ClassExpression" maxOccurs="unbounded"/>
    <xs:element name="ComplementOf" type="ClassExpression"/>
    <xs:element name="PropertyObject" type="OPECardinalityRestriction"/>
    <xs:element name="PropertyData" type="DPECardinalityRestriction"/>
    <xs:element name="ObjectOneOf" type="xs:string" maxOccurs="unbounded"/>
   </xs:choice>
  </xs:sequence>
 </xs:group>
 <xs:complexType name="OPECardinalityRestriction">
  <xs:sequence>
   <xs:choice>
    <xs:element name="Property" type="xs:string"/>
    <xs:element name="InverseOf" type="xs:string"/>
   </xs:choice>
   <xs:choice>
    <xs:element name="Quantification" type="xs:string"/>
    <xs:element name="Min" type="xs:int"/>
    <xs:element name="Max" type="xs:int"/>
    <xs:element name="Exact"/>
   </xs:choice>
   <xs:sequence>
    <xs:element name="Individual" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   <xs:group ref="ClassExpression"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DPECardinalityRestriction">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Quantification" type="xs:string" minOccurs="0"/>
   <xs:element name="Exact" type="xs:int" minOccurs="0"/>
   <xs:element name="Min" type="xs:int" minOccurs="0"/>
   <xs:element name="Max" type="xs:int" minOccurs="0"/>
   <xs:group ref="DataRange"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="IndividualValueRestriction">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Individual" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataValueRestriction">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Value" type="xs:string"/>
   <xs:element name="DataType" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataPropertyValue">
  <xs:complexContent>
   <xs:extension base="IMEntity">
    <xs:sequence>
     <xs:element name="Property" type="xs:string"/>
     <xs:element name="DataType" type="xs:string"/>
     <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="ValueSet">
  <xs:complexContent>
   <xs:extension base="Class">
    <xs:sequence>
     <xs:element name="Member" type="ClassExpression" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="Criterion">
  <xs:sequence>
   <xs:choice maxOccurs="unbounded">
    <xs:element name="iri" type="xs:string" minOccurs="0"/>
    <xs:element name="description" type="xs:string" minOccurs="0"/>
    <xs:element name="fromEntity" type="xs:string"/>
    <xs:element name="operator" type="xs:string" minOccurs="0"/>
    <xs:element name="filter" type="Filter"/>
    <xs:element name="restriction" type="Restriction"/>
   </xs:choice>
   <xs:element name="criterion" type="Criterion" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Filter">
  <xs:sequence>
   <xs:element name="description" type="xs:string" minOccurs="0"/>
   <xs:element name="operator" type="Operator" minOccurs="0"/>
   <xs:choice>
    <xs:element name="function" type="Function"/>
    <xs:element name="fromPath" type="xs:string"/>
   </xs:choice>
   <xs:choice>
    <xs:element name="valueConcept"/>
    <xs:element name="valueSet" type="xs:string"/>
    <xs:sequence>
     <xs:element name="comparisonOperator" type="xs:string" minOccurs="0"/>
     <xs:element name="exactValue" type="xs:string"/>
    </xs:sequence>
    <xs:sequence>
     <xs:element name="valueFrom" type="ValueComparison"/>
     <xs:element name="valueTo" type="ValueComparison"/>
    </xs:sequence>
   </xs:choice>
   <xs:element name="includeNull" type="xs:boolean" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Restriction">
  <xs:sequence>
   <xs:element name="orderBy" type="xs:string" maxOccurs="unbounded"/>
   <xs:element name="restrictBy" type="xs:string"/>
   <xs:element name="limit">
    <xs:simpleType>
     <xs:restriction base="xs:byte">
      <xs:enumeration value="1"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Parameter">
  <xs:choice>
   <xs:element name="fromPath" type="xs:string"/>
   <xs:element name="fixed" type="xs:string"/>
   <xs:element name="variable"/>
   <xs:element name="function" type="Function"/>
  </xs:choice>
 </xs:complexType>
 <xs:complexType name="ValueComparison">
  <xs:sequence>
   <xs:element name="comparisonOperator" type="xs:string" minOccurs="0"/>
   <xs:element name="value" type="xs:anySimpleType"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="EntityConstraint">
  <xs:sequence>
   <xs:element name="iri" type="xs:string">
    <xs:annotation>
     <xs:documentation>the iri of the entity in the target data model</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element name="filter" type="Filter"/>
    <xs:element name="restriction" type="Restriction"/>
   </xs:choice>
   <xs:element name="targetAttribute" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="iri">
       <xs:annotation>
        <xs:documentation>the iri of the attribute in the target data model</xs:documentation>
       </xs:annotation>
      </xs:element>
      <xs:element name="propertyPath" type="xs:string">
       <xs:annotation>
        <xs:documentation>the property path that generates the joins or graph traverse to get the data</xs:documentation>
       </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
       <xs:element name="filter" type="Filter"/>
       <xs:element name="restriction" type="Restriction"/>
      </xs:choice>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataSet">
  <xs:sequence>
   <xs:element name="iri" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataModel">
  <xs:complexContent>
   <xs:extension base="Class">
    <xs:sequence>
     <xs:element name="Entity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="DataSetEntity">
  <xs:sequence>
   <xs:element name="iri" type="xs:string"/>
   <xs:element name="Filter" type="Criterion" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>row level criterion</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="Attribute" type="DataSetAttribute" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Archetype">
  <xs:complexContent>
   <xs:extension base="Class">
    <xs:sequence>
     <xs:element name="Definition">
      <xs:complexType>
       <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Property" type="DataModelAttribute"/>
        <xs:element name="Relationship" type="DataModelAttribute"/>
       </xs:choice>
      </xs:complexType>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="DataSetAttribute">
  <xs:sequence>
   <xs:element name="iri"/>
   <xs:element name="fromPath" type="xs:string" minOccurs="0"/>
   <xs:element name="filter" type="Criterion" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>attribute level filter</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="assignedValue" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataModelAttribute">
  <xs:sequence>
   <xs:element name="iri" type="xs:string"/>
   <xs:element name="Range" type="xs:string" maxOccurs="unbounded"/>
   <xs:element name="min" type="xs:int" minOccurs="0"/>
   <xs:element name="max" type="xs:string" minOccurs="0"/>
   <xs:element name="description" type="xs:string" minOccurs="0"/>
   <xs:element name="headerOrder" type="xs:string" minOccurs="0"/>
   <xs:element name="displayHeader" type="xs:string" minOccurs="0"/>
   <xs:element name="displayOrder" type="xs:int" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DocumentInfo">
  <xs:sequence>
   <xs:element name="documentId" minOccurs="0"/>
   <xs:element name="documentIri" type="xs:anyURI"/>
   <xs:element name="documentTitle" type="xs:string" minOccurs="0"/>
   <xs:element name="effectiveDate" type="xs:string" minOccurs="0"/>
   <xs:element name="publisher" type="xs:string" minOccurs="0"/>
   <xs:element name="documentStatus" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Version">
  <xs:sequence>
   <xs:element name="releaseStatus" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:simpleType name="Operator">
  <xs:restriction base="xs:string">
   <xs:enumeration value="AND"/>
   <xs:enumeration value="OR"/>
   <xs:enumeration value="NOT"/>
   <xs:enumeration value="ANDNOT"/>
   <xs:enumeration value="ORNOT"/>
   <xs:enumeration value="XOR"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:complexType name="Synonym">
  <xs:sequence>
   <xs:element name="status" type="xs:string"/>
   <xs:element name="term" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="concept" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="EntityKey">
  <xs:sequence>
   <xs:element name="Property" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DataRange">
  <xs:sequence/>
 </xs:complexType>
 <xs:complexType name="Namespace">
  <xs:all>
   <xs:element name="prefix" type="xs:string"/>
   <xs:element name="iri" type="xs:string"/>
  </xs:all>
 </xs:complexType>
 <xs:group name="DataRange">
  <xs:sequence>
   <xs:element name="DataType" type="xs:string"/>
   <xs:choice>
    <xs:element name="ExactValue" type="xs:string"/>
    <xs:element name="OneOf" type="xs:string" maxOccurs="unbounded"/>
    <xs:sequence>
     <xs:choice minOccurs="0">
      <xs:element name="minInclusive" type="xs:string" minOccurs="0"/>
      <xs:element name="minExclusive" type="xs:string" minOccurs="0"/>
     </xs:choice>
     <xs:choice minOccurs="0">
      <xs:element name="maxInclusive" type="xs:string" minOccurs="0"/>
      <xs:element name="maxExclusive" type="xs:string" minOccurs="0"/>
     </xs:choice>
    </xs:sequence>
    <xs:element name="DataTypeRestriction" type="DataTypeRestriction"/>
   </xs:choice>
  </xs:sequence>
 </xs:group>
 <xs:complexType name="Annotation">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Value" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="FacetRestriction">
  <xs:sequence>
   <xs:element name="Facet" type="xs:string"/>
   <xs:element name="ConstrainingFacet" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="EntitySubType">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Class" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Function">
  <xs:sequence>
   <xs:element name="description" type="xs:string" minOccurs="0"/>
   <xs:element name="name" type="xs:string"/>
   <xs:sequence>
    <xs:element name="parameter" type="Parameter" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="SubPropertyChain">
  <xs:complexContent>
   <xs:extension base="IMEntity">
    <xs:sequence>
     <xs:element name="Property" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
 <xs:complexType name="MapIMContext">
  <xs:sequence>
   <xs:element name="Fromid" type="xs:string"/>
   <xs:element name="Class" type="xs:string"/>
   <xs:element name="DependentRelationship" minOccurs="0">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="Relationship" type="xs:string"/>
      <xs:element name="Class" type="xs:string"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:choice>
    <xs:element name="Relationship" minOccurs="0">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Relationship" type="xs:string"/>
       <xs:element name="Class" type="xs:string"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="PropertyValue" minOccurs="0">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Property" type="xs:string"/>
       <xs:element name="Value" type="xs:string"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DatabaseSchema">
  <xs:sequence>
   <xs:element name="Provider" type="xs:string" minOccurs="0"/>
   <xs:element name="System" type="xs:string" minOccurs="0"/>
   <xs:element name="Schema"/>
   <xs:element name="Table" type="DatabaseTable" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DatabaseField">
  <xs:sequence>
   <xs:element name="Name" type="xs:string"/>
   <xs:element name="DataType" type="xs:string"/>
   <xs:element name="ForeignKeyTo" type="DatabaseForeignKey"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DatabaseForeignKey">
  <xs:sequence>
   <xs:element name="Table" type="xs:string"/>
   <xs:element name="Field" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DatabaseTable">
  <xs:sequence>
   <xs:element name="Name" type="xs:string"/>
   <xs:element name="Field" type="DatabaseField" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="SubTypeField" type="xs:string" minOccurs="0"/>
   <xs:element name="ExtensionTable" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapFunction">
  <xs:sequence>
   <xs:element name="Name" type="xs:string"/>
   <xs:element name="Parameter" maxOccurs="unbounded">
    <xs:complexType>
     <xs:choice>
      <xs:element name="Fixed" type="xs:string"/>
      <xs:element name="SourceProperty" type="xs:string"/>
     </xs:choice>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapTarget">
  <xs:sequence>
   <xs:element name="Class" type="xs:string" minOccurs="0"/>
   <xs:element name="Property" type="xs:string" minOccurs="0"/>
   <xs:choice minOccurs="0">
    <xs:element name="PassThroughValue" type="xs:boolean"/>
    <xs:element name="FunctionResult" type="xs:boolean"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapResult"/>
 <xs:complexType name="MapSourceProperty">
  <xs:sequence>
   <xs:element name="PropertyName" type="xs:string"/>
   <xs:element name="PropertyType" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="SourceClassSet">
  <xs:sequence>
   <xs:element name="Provider" type="xs:string" minOccurs="0"/>
   <xs:element name="System" type="xs:string" minOccurs="0"/>
   <xs:element name="Schema" type="xs:string" minOccurs="0"/>
   <xs:element name="Class" type="SourceClass" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapFieldValue">
  <xs:sequence>
   <xs:element name="Field" type="xs:string"/>
   <xs:element name="Value" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ClassMap">
  <xs:sequence>
   <xs:element name="From" type="xs:string"/>
   <xs:element name="System" type="xs:string" minOccurs="0"/>
   <xs:element name="Schema" type="xs:string" minOccurs="0"/>
   <xs:element name="sss" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="SourceName"/>
      <xs:element name="Property" type="SourceProperty" minOccurs="0"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="SourceProperty">
  <xs:sequence>
   <xs:element name="Name" type="xs:string"/>
   <xs:element name="DataType" type="xs:string"/>
   <xs:element name="TargetClass" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="SourceObjectValue">
  <xs:sequence>
   <xs:element name="Context" type="xs:string"/>
   <xs:element name="Value" type="xs:string"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="SourceClass">
  <xs:sequence>
   <xs:element name="Name"/>
   <xs:element name="Property" type="SourceProperty" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Identifier">
  <xs:sequence>
   <xs:element name="CodeScheme" type="xs:string" minOccurs="0"/>
   <xs:element name="Value" type="xs:string"/>
   <xs:element name="Display" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapRequest">
  <xs:sequence>
   <xs:sequence>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:element name="Provider" type="xs:string" minOccurs="0"/>
    <xs:element name="System" type="xs:string" minOccurs="0"/>
    <xs:element name="Schema" minOccurs="0"/>
   </xs:sequence>
   <xs:element name="Target" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapTableRequest">
  <xs:sequence>
   <xs:sequence>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:element name="Provider" type="xs:string" minOccurs="0"/>
    <xs:element name="System" type="xs:string" minOccurs="0"/>
    <xs:element name="Schema" minOccurs="0"/>
   </xs:sequence>
   <xs:element name="Table" type="xs:string"/>
   <xs:element name="Target" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapClassRequest">
  <xs:sequence>
   <xs:choice>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:sequence>
     <xs:element name="Provider" type="Identifier" minOccurs="0"/>
     <xs:element name="System" type="Identifier" minOccurs="0"/>
     <xs:element name="Schema" minOccurs="0"/>
    </xs:sequence>
   </xs:choice>
   <xs:element name="Class" type="xs:string"/>
   <xs:element name="Target" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapPropertyRequest">
  <xs:sequence>
   <xs:choice>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:sequence>
     <xs:element name="Provider" type="Identifier" minOccurs="0"/>
     <xs:element name="System" type="Identifier" minOccurs="0"/>
     <xs:element name="Schema" minOccurs="0"/>
     <xs:element name="Class" type="xs:string" minOccurs="0"/>
    </xs:sequence>
   </xs:choice>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Target" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapPropertyValueRequest">
  <xs:sequence>
   <xs:choice>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:sequence>
     <xs:element name="Provider" type="Identifier" minOccurs="0"/>
     <xs:element name="System" type="Identifier" minOccurs="0"/>
     <xs:element name="Schema" minOccurs="0"/>
     <xs:element name="Class" type="xs:string" minOccurs="0"/>
     <xs:element name="Property" type="xs:string" minOccurs="0"/>
    </xs:sequence>
   </xs:choice>
   <xs:element name="DependentPropertyValue" type="MapDependentProperty" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="Value" type="MapValueRequest"/>
   <xs:element name="Target" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapColumnRequest">
  <xs:sequence>
   <xs:sequence>
    <xs:element name="Provider" type="xs:string" minOccurs="0"/>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:element name="System" type="xs:string" minOccurs="0"/>
    <xs:element name="Schema" minOccurs="0"/>
    <xs:element name="Table" type="xs:string" minOccurs="0"/>
    <xs:element name="Column" type="xs:string"/>
    <xs:element name="Target" type="xs:string" minOccurs="0"/>
   </xs:sequence>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapColumnValueRequest">
  <xs:sequence>
   <xs:sequence>
    <xs:element name="Context" type="xs:string" minOccurs="0"/>
    <xs:element name="Provider" type="xs:string" minOccurs="0"/>
    <xs:element name="System" type="xs:string" minOccurs="0"/>
    <xs:element name="Schema" minOccurs="0"/>
    <xs:element name="Table" type="xs:string" minOccurs="0"/>
    <xs:element name="Column" type="xs:string" minOccurs="0"/>
   </xs:sequence>
   <xs:element name="DependentColumnValue" type="MapDependentColumn" minOccurs="0" maxOccurs="unbounded"/>
   <xs:element name="Value" type="MapValueRequest"/>
   <xs:element name="Target" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapValueRequest">
  <xs:sequence>
   <xs:element name="CodeScheme" type="xs:string" minOccurs="0"/>
   <xs:element name="Value" type="xs:string"/>
   <xs:element name="Term" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapDependentColumn">
  <xs:sequence>
   <xs:element name="Column" type="xs:string"/>
   <xs:element name="Value" type="MapValueRequest"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapDependentProperty">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Value" type="MapValueRequest"/>
  </xs:sequence>
 </xs:complexType>
 <xs:element name="MapData" type="MapData"/>
 <xs:complexType name="MapData">
  <xs:sequence>
   <xs:element name="Context" type="xs:string" minOccurs="0"/>
   <xs:choice>
    <xs:sequence>
     <xs:choice>
      <xs:element name="CreateObject" type="MapObject"/>
      <xs:element name="CreateTable" type="MapTable"/>
      <xs:element name="CreateColumn" type="MapColumn"/>
      <xs:element name="CreateProperty" type="MapProperty"/>
      <xs:element name="CreateValue" type="MapValue"/>
     </xs:choice>
     <xs:choice minOccurs="0">
      <xs:element name="FromObject" type="MapObject" maxOccurs="unbounded"/>
      <xs:element name="FromTable" type="MapTable" maxOccurs="unbounded"/>
      <xs:element name="FromProperty" type="MapProperty"/>
      <xs:element name="FromColumn" type="MapColumn"/>
      <xs:element name="FromValue" type="MapValue" maxOccurs="unbounded"/>
     </xs:choice>
    </xs:sequence>
   </xs:choice>
   <xs:element name="Where" type="xs:string" minOccurs="0"/>
   <xs:element name="Map" type="MapData" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapObject">
  <xs:sequence>
   <xs:element name="Context" type="xs:string" minOccurs="0"/>
   <xs:element name="Class"/>
   <xs:element name="Alias" type="xs:string" minOccurs="0"/>
   <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element name="Property" type="MapProperty"/>
    <xs:element name="Relationship" type="MapRelationship"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapProperty">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:element name="Value" type="MapValue" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapColumn">
  <xs:sequence>
   <xs:element name="ColumnName" type="xs:string" maxOccurs="unbounded"/>
   <xs:choice minOccurs="0">
    <xs:element name="Value" type="MapValue"/>
    <xs:element name="ForeignKey" type="MapForeignKey"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapDataValue">
  <xs:sequence>
   <xs:element name="context" minOccurs="0"/>
   <xs:choice minOccurs="0">
    <xs:element name="dependentField" type="xs:string"/>
    <xs:element name="dependentProperty" type="xs:string"/>
   </xs:choice>
   <xs:choice>
    <xs:element name="valueFunction" type="xs:string"/>
    <xs:element name="fixedValue" type="xs:string"/>
    <xs:element name="valueMap" type="MapValue" minOccurs="0" maxOccurs="unbounded"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapDomain">
  <xs:sequence>
   <xs:element name="iri" type="xs:string"/>
   <xs:element name="Context" type="xs:string"/>
   <xs:element name="Map" type="MapData" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
 <xs:element name="MapRequest" type="MapRequest"/>
 <xs:complexType name="MapJoin">
  <xs:sequence>
   <xs:element name="TableName"/>
   <xs:element name="JoinOn" type="xs:string"/>
   <xs:element name="Join" type="MapJoin"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapTable">
  <xs:sequence>
   <xs:element name="Context" type="xs:string" minOccurs="0"/>
   <xs:element name="TableName" type="xs:string"/>
   <xs:element name="Generator" type="MapIdGenerator" minOccurs="0"/>
   <xs:element name="SubTypeColumn" type="MapColumn" minOccurs="0"/>
   <xs:element name="CreateJoin" type="MapJoin" minOccurs="0"/>
   <xs:element name="Alias" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapRelationship">
  <xs:sequence>
   <xs:element name="Property" type="xs:string"/>
   <xs:choice>
    <xs:element name="Object" type="MapObject"/>
    <xs:element name="Reference" type="xs:string"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapIdGenerator">
  <xs:sequence>
   <xs:element name="IdColumn" type="xs:string"/>
   <xs:choice>
    <xs:element name="Auto" type="xs:boolean"/>
    <xs:element name="From" type="MapColumn"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapForeignKey">
  <xs:sequence>
   <xs:element name="Column" type="xs:string"/>
   <xs:choice>
    <xs:element name="Table" type="MapTable"/>
    <xs:element name="Reference" type="xs:string"/>
   </xs:choice>
  </xs:sequence>
 </xs:complexType>
 <xs:complexType name="MapValue">
  <xs:sequence>
   <xs:element name="CodeScheme" minOccurs="0"/>
   <xs:choice>
    <xs:element name="Code" type="xs:string"/>
    <xs:element name="Concept" type="xs:string"/>
    <xs:element name="DataValue" type="xs:string"/>
   </xs:choice>
   <xs:element name="Term" type="xs:string" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
 <xs:element name="MapColumnRequest" type="MapColumnRequest"/>
 <xs:element name="MapPropertyRequest" type="MapPropertyRequest"/>
 <xs:element name="MapTableRequest" type="MapTableRequest"/>
 <xs:element name="MapColumnValueRequest" type="MapColumnValueRequest"/>
 <xs:element name="MapPropertyValueRequest" type="MapPropertyValueRequest"/>
</xs:schema>
